package ${package}

import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.boot.runApplication
import org.springframework.web.bind.annotation.GetMapping
import org.springframework.web.bind.annotation.RestController

@SpringBootApplication
@RestController
class Application {

    @GetMapping("/")
    fun hello(): String = "Hello from jk + Spring Boot!"
}

fun main(args: Array<String>) {
    runApplication<Application>(*args)
}
