package ${package}

import org.junit.jupiter.api.Assertions.assertEquals
import org.junit.jupiter.api.Test

class ApplicationTest {
    @Test
    fun helloGreets() {
        assertEquals("Hello from jk + Spring Boot!", Application().hello())
    }
}
