
[spring-boot]
version = "4.1.0"

[dependencies]
starter-webmvc = { group = "org.springframework.boot", name = "spring-boot-starter-webmvc" }

[dev-dependencies]
devtools = { group = "org.springframework.boot", name = "spring-boot-devtools" }
