[quarkus]
version = "3.28.5"

[dependencies]
quarkus-rest   = { group = "io.quarkus", name = "quarkus-rest" }
quarkus-arc    = { group = "io.quarkus", name = "quarkus-arc" }
quarkus-kotlin = { group = "io.quarkus", name = "quarkus-kotlin" }

[dev-dependencies]
quarkus-junit5 = { group = "io.quarkus", name = "quarkus-junit5" }
