
[grails]
version = "8.0.0-M4"

[dependencies]
grails-core            = { group = "org.apache.grails", name = "grails-core" }
grails-web-boot        = { group = "org.apache.grails", name = "grails-web-boot" }
grails-rest-transforms = { group = "org.apache.grails", name = "grails-rest-transforms" }
grails-data-hibernate7 = { group = "org.apache.grails", name = "grails-data-hibernate7" }
h2                     = { group = "com.h2database", name = "h2" }
